# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
build
xcschememanagement.plist
native/iOS/MusiXplorer/MusiXplorer.xcodeproj/project.xcworkspace/xcuserdata/peterfriese.xcuserdatad/UserInterfaceState.xcuserstate
native/iOS/MusiXplorer/MusiXplorer.xcodeproj/xcuserdata/peterfriese.xcuserdatad/xcschemes/MusiXplorer.xcscheme
native/iOS/MusiXplorer/MusiXplorer.xcodeproj/xcuserdata/peterfriese.xcuserdatad/xcschemes/xcschememanagement.plist